<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.jd.hackason.dao.ProCommentDao">
	<select id="select" parameterType="com.jd.hackason.dto.ProCommentDto"
		resultType="com.jd.hackason.bean.ProComment">
		select
		id,pro_id,user_id,order_id,dt,star,content,noname,image,add_content,useful,sen
		from
		`pro_comment` where 1=1
		<if test="star_mode==1">
			and (star=5 or star=4)
		</if>
		<if test="star_mode==2">
			and (star=3 or star=2)
		</if>
		<if test="star_mode==3">
			and star=1
		</if>
		<if test="has_image==1">
			and image is not null
		</if>
		<if test="has_addcomment==1">
			and add_content is not null
		</if>
		<if test="order_mode == 1">
			order by dt desc
		</if>
		<if test="order_mode == 2">
			and char_length(content)>=15 order by sen desc
		</if>
		limit #{offset},#{limit}
	</select>
	<insert id="insert" parameterType="com.jd.hackason.bean.ProComment" >
		insert into pro_comment (pro_id,user_id,order_id,dt,star)
		values (#{pro_id},#{user_id},#{order_id},#{dt},#{star})
	</insert>
</mapper>